@font-face {
  font-family: "Naskh";
  src: url("fonts/Naskh.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:
    "Naskh", "Hafs", "Adobe Arabic", "Simplified Arabic", "Traditional Arabic",
    "Arabic Typesetting", "Times New Roman", "Tahoma", "Arial", "serif";
}

tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

table {
  direction: rtl;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  padding: 0 30px;
  border-collapse: separate;
  border-spacing: 0 25px;
  width: 1000px;
}

th {
  text-align: center;
  padding: 10px 40px;
  background-color: #005b82;
  border-radius: 15px;
}

.counter_0 {
  width: 150px;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  background-color: hsl(198, 100%, 25%);
}

.text {
  border-radius: 15px;
  padding: 0 40px;
  vertical-align: middle;
  width: 600px;
}

.counter {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

button {
  width: 100%;
  margin-top: 6px;
  padding: 6px 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background: rgba(0, 0, 0, 0.215);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.done {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.btn {
  font-size: 20px;
  font-weight: bold;
}

.reset {
  font-size: 20px;
  font-weight: bold;
}

.text_0 {
  font-size: 30px;
  line-height: 1.5;
}

.text-haed {
  font-size: 30px;
  margin: 0;
  color: #ffffff;
}

span {
  color: #ff8000;
}

.vb {
  color: rgba(0, 0, 0, 0.4);
  font-size: 25px;
}

/* @media (max-width:1200px) {
  
} */
@media (min-width: 992px) and (max-width: 1199.98px) {
  table {
    padding: 0 30px;
    width: 900px;
  }

  th {
    padding: 10px 40px;
  }

  .counter_0 {
    width: 150px;
    padding: 20px;
  }

  .text {
    padding: 0 40px;
    width: 600px;
  }

  .counter {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  button {
    width: 100%;
    margin-top: 6px;
    padding: 6px 10px;
    border-radius: 12px;
  }

  .done {
    font-weight: bold;
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
    font-weight: bold;
  }

  .reset {
    font-size: 18px;
    font-weight: bold;
  }

  .text_0 {
    font-size: 25px;
  }

  .text-haed {
    font-size: 25px;
    margin: 0;
  }

  .vb {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  table {
    padding: 0 30px;
    width: 800px;
  }

  th {
    padding: 10px 40px;
  }

  .counter_0 {
    width: 150px;
    padding: 20px;
  }

  .text {
    padding: 0 40px;
    width: 600px;
  }

  .counter {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  button {
    width: 100%;
    margin-top: 6px;
    padding: 6px 10px;
    border-radius: 12px;
  }

  .done {
    font-weight: bold;
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
    font-weight: bold;
  }

  .reset {
    font-size: 18px;
    font-weight: bold;
  }

  .text_0 {
    font-size: 25px;
  }

  .text-haed {
    font-size: 25px;
    margin: 0;
  }

  .vb {
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  table {
    padding: 0 30px;
    width: 800px;
  }

  th {
    padding: 10px 40px;
  }

  .counter_0 {
    width: 150px;
    padding: 20px;
  }

  .text {
    padding: 0 40px;
    width: 600px;
  }

  .counter {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  button {
    width: 100%;
    margin-top: 6px;
    padding: 6px 10px;
    border-radius: 12px;
  }

  .done {
    font-weight: bold;
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
    font-weight: bold;
  }

  .reset {
    font-size: 18px;
    font-weight: bold;
  }

  .text_0 {
    font-size: 25px;
  }

  .text-haed {
    font-size: 25px;
    margin: 0;
  }

  .vb {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
    table {
    width: 100%;
    padding: 10px;
    border-spacing: 0 10px;
  }

  th {
    padding: 7px 40px;
  }

    tr{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  .counter_0 {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
  }

  .text {
    width: 90%;
    padding: 15px;
    text-align: center;
    border: none;
    margin: 0 auto;
  }

  .counter {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  button {
    margin-top: 6px;
    padding: 6px 10px;
    border-radius: 12px;
  }

  .done {
    font-weight: bold;
    font-size: 18px;
  }

  .btn {
    font-size: 18px;
    width: 85%;
    font-weight: bold;
  }

  .reset {
    width: 15%;
    font-size: 18px;
    font-weight: bold;
  }

  .text_0 {
    font-size: 25px;
    margin: 10px 0;
  }

  .text-haed {
    font-size: 24px;
    margin: 0;
  }

  .vb {
    font-size: 20px;
  }
  .kk{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
